apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: api-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: api
  # LAB: STEP4 FIXED - HPA configured to scale between 1-5 replicas
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          # LAB: STEP4 FIXED - 50% target triggers scaling under load
          averageUtilization: 50
