apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: workshop
servers: 1
agents: 0
ports:
  - port: 8080:30080
    nodeFilters:
      - loadbalancer
  - port: 8081:30081
    nodeFilters:
      - loadbalancer
options:
  k3d:
    wait: true
    timeout: "120s"
  k3s:
    extraArgs:
      - arg: --disable=traefik
        nodeFilters:
          - server:*
